<!DOCTYPE html>
<div class="unit-100">
<h4>Управление пользователями</h4>
<table class="width-100" id="users">
    <thead>
        <td>Имя</td>
        <td>Роль</td>
        <td>Редактировать</td>
        <td>Удалить</td>     
    </thead>
    <tbody>
    <% for (var i=0; i<users.length; i++){%>
    <% if(user.username!=users[i].username){%> 
    <tr>     
        <td><%= users[i].username %></td>
        <td><%= users[i].role%></td>
        <td><a class="editUser" href="/user/manager/edit/<%-users[i]._id%>"</a>Редактировать</a></td> 
        <td><a class="deleteUser" href="/user/manager/delete/<%-users[i]._id%>"</a>Удалить</a></td> 
    </tr>  
     <%}%>        
    <% }%>
    <tbody>
</table>
<div class="unit-60">
<%-partial ("edit") -%>
<%-partial ("add") -%>

</div>
</div>
